* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid limegreen; */
}

html {
    font-size: 16px;
}

body {
    background: #ccc;;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.calc {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.toggle-history {
    background: white;
    border: none;
}

.dis {
    padding: 10px;
    overflow: auto;
}

.history-container {
    height: 6rem;
}

.expression-dis {
    /* font-size: rem; */
}

.result-dis{
    font-size: 3rem;
}

.row {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 22%;
    color: #333;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 1.5rem;
    /* font-weight: bold; */
    height: 3rem;
    aspect-ratio: 1.5/1;
}

.operators {
    color: red;
}

