:root {
    --font-size-base: 16px;
    --font-size-mid: .75rem;
    --font-size-lg: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 2.5rem;
    --font-family: monospace;
    --background-color: #f4f4f4;
    --primary-color: #333;
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: var(--font-size-base); */
    height: 100%;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto Mono', monospace;

}

.calc {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: gray;
    /* background-color: black; */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 16rem;
    flex-grow: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.toggle-history {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: fit-content;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    transition: rotate 0.3s;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

.toggle-history.toggle {
    rotate: 180deg;
}
.material-symbols-outlined.historybtn {
    font-size: 1rem;
}



.history-container {
    display: flex;
    /* display: none; */
    flex-direction: column;
    height: 7rem;
    width: 100%;
    border: 1px solid gray;
    background-color: #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    border-radius: 5px;
    padding: 3px;
    gap: 1.5px;
}

.history-container.toggle{
    display: none;
}

.history {
    cursor: pointer;
    /* border: 2px solid red; */
    box-sizing: border-box;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1rem;
    font-size: .75rem;
    width: 100%;

}

.history:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
    
}

.expression-h {
    box-sizing: border-box;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    /* min-width: 40%;*/
    /* max-width: 40%; */
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.equals-h {
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* min-width: 40%;*/
    /* max-width: 40%; */
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
}

.ans-h {
    box-sizing: border-box;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    /* min-width: 40%;
    max-width: 40%; */
    flex-shrink: 0;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.expression-result-container {
    box-sizing: border-box;
    width: 16.5rem;
    /* max-width: rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 5px;
    gap: 2.5px;

    padding: 3px;
    /* color: white; */
    /* user-select: none; */
}

.dis {
    font-family: 'Roboto Mono', monospace;
    /* letter-spacing: 1px; */
    text-align: end;
    /* border: 2px solid red; */
    width: 100%;
    box-sizing: border-box;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.result-dis {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid gray;
    height: 3rem;
    padding: 0 1rem;
    overflow-x: auto; 
    max-width: 100%;
    white-space: nowrap; 
    border-radius: 2px ;
    
    scrollbar-width: thin;
    width: 100%;
}


.expression-dis {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:1rem;
    text-align: start;
    padding: 0 .5rem;
    border: 1px solid gray;
    height: 2.5rem;
    overflow: auto;
    scrollbar-width: thin;
    border-radius: 2px ;
}



.buttons-container {
    border-radius: 2px;
    padding: 2px;
    background-color: #ccc;
}


.buttons {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 1rem;
    height: 3rem;
    aspect-ratio: 1/1;
    padding: 2px;
    /* border-radius: 50%; */
    border-radius: 10px;

    border: none;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: #333;
    transition: background-color 0.3s, transform 0.1s ease;
}

.material-icons.backspace {
    font-size: 1rem;
}

.buttons:hover {
    background-color: #555; 
    transform: scale(1.05); 
}

.buttons:active {
    background-color: #222; 
    transform: scale(1); 
}

.operators {
    background-color: rgb(160, 97, 2);
}

.operators:hover {
    background-color: #d4840d; 
    transform: scale(1.05);
}

.operators:active {
    background-color: #b56a01;
    transform: scale(1);
}

.modifiers {
    background-color: gray;
}

.modifiers:hover {
    background-color: #666; 
    transform: scale(1.05);
}

.modifiers:active {
    background-color: #444; 
    transform: scale(1);
}

.clear,
.backspace {
    background-color: #703302;
}

.clear:hover,
.backspace:hover {
    background-color: #8e4b20; 
    transform: scale(1.05);
}

.clear:active,
.backspace:active {
    background-color: #5e2f19;
    transform: scale(1);
}

.equals {
    /* flex: 2; */
}

.decimal-point {
    background-color: #333;
}


.pow {
    background-color: gray;
}

@media (max-width: 600px) {}